{% extends 'base.html' %}

{% block corpo %}
{% csrf_token %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
        <script src="{{ MEDIA_URL }}css/twitter/js/jquery-1.7.1.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/jquery.validate.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/bootstrap.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/drop.min.js"></script>


        <link href="{{ MEDIA_URL }}css/twitter/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/twitter/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/twitter/css/default.css" rel="stylesheet">
    </head>
    <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">CommSystem</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Início</a></li>
              <li><a href="/registrar">Cadastro de Novos Funcionários</a></li>
              <li><a href="/tentativa">Cadastro de Grupos</a></li>
              <li><a href="/cadastrarUsuarioGrupo">Adicionar usuario ao grupo</a></li>
              <li><a href="">Atividades</a></li>
              <li><a href="#contac">Mensagens</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <br>
     <img id="register_form2" src = "{{ MEDIA_URL }}css/twitter/img/Comm.jpg" class = "form-horizontal"/>
    <div class="container">
    <br>
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2><center>Seja Bem Vindo Presidente</center></h2>
        <p>Bem Vindo ao CommSystem, o melhor sistema de gerenciamento de comunicação que existe no mercado. Estamos prontos para lhe ajudar, clique no botão LEIA MAIS, lá você poderá tirar suas dúvidas.</p>        
        <p><center><a class="btn btn-primary btn-large">Leia Mais &raquo;</a></center></p>
      </div>
      <hr>
      <footer>
        <p>&copy; CommSystem 2013 - Jean Turet, Lucas Lins, Matheus Farias e Stênyo Oliveira</p>
      </footer>
      </hr>
    </div>         
    </body>
</html>
{% endblock %}