{% extends 'base.html' %}

{% block corpo %}
{% csrf_token %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
        <script src="{{ MEDIA_URL }}css/twitter/js/jquery-1.7.1.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/jquery.validate.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/bootstrap.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/drop.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/drop.min.js"></script>


        <link href="{{ MEDIA_URL }}css/twitter/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/twitter/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/twitter/css/default.css" rel="stylesheet">
    </head>
    <body>

          <div class="bs-docs-example">
            <div id="navbar-example" class="navbar navbar-static">
              <div class="navbar-inner">
                <div class="container" style="width: auto;">
                  <a class="brand" href="#">CommSystem</a>
                  <ul class="nav" role="navigation">
                  <li class ="active"><a href="/bem_vindo">Início</a></li>
                  <li><a href="/registrar">Cadastro de Funcionários</a></li>
                    <li class="dropdown">
                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Grupos <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li><a tabindex="-1" href="/criar_grupo">Criar Grupos</a></li>
                        <li><a tabindex="-1" href="/cadastrar_permissao_grupo">Adicionar Permissões</a></li>
                        <li><a tabindex="-1" href="/cadastrar_usuario_grupo">Adcionar Usuários</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Atividades<b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                        <li><a tabindex="-1" href="/atividade/">Criar nova Atividade</a></li>
                        <li><a tabindex="-1" href="/lista_atividade"">Responder Atividade</a></li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="nav pull-right">
                        <li><a tabindex="-1" href="/logout/">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div> 
          </div> 


    <center>
     <img src = "{{ MEDIA_URL }}css/twitter/img/Comm.jpg" class = "form-horizontal"/>
    <div class="container">
    <br>
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2><center>Seja Bem Vindo Presidente</center></h2>
        <p>Bem Vindo ao CommSystem, o melhor sistema de gerenciamento de comunicação que existe no mercado. Estamos prontos para lhe ajudar, clique no botão LEIA MAIS, lá você poderá tirar suas dúvidas.</p>        
        <p><center><a href="/leia_mais/" class="btn btn-primary btn-large">Leia Mais &raquo;</a></center></p>
      </div>
      <hr>
      <footer>
        <p>&copy; CommSysytem - Jean Turet, Lucas Lins e Matheus Farias</p>
      </footer>
      </hr>
    </div>         
    </body>
</html>
{% endblock %}