<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="{{ MEDIA_URL }}css/twitter/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/twitter/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/twitter/css/default.css" rel="stylesheet">
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">CommSystem</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li ><a href="\bemVindo">Início</a></li>
              <li><a href="/registrar">Cadastro de Novos Funcionários</a></li>
              <li class="active"><a href="/tentativa">Cadastro de Grupos</a></li>
              <li><a href="">Atividades</a></li>
              <li><a href="#contac">Mensagens</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<br><br><br>
                <div> 
                   <center>
                      <h2><center>Cadastros de Grupos</center></h2>
                <legend></legend>
                <legend> </legend>

                <form method="POST">
                {% csrf_token %}
	            {{ form.as_p }}
              {{n3}}
	            <br>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>
        </form>
	
	<!-- <tr><td colspan="2"><button type="submit">Criar</button> -->
	 <br><br><br>
	 </center>
    <div class="container">
      <hr>
      <footer>
        <p>&copy; CommSysytem - Jean Turet, Lucas Lins, Matheus Farias e Stênyo Oliveira</p>
      </footer>
      </div>