{% extends 'base.html' %}
{% load comments %}

{% block corpo %}
{% csrf_token %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
        <script src="{{ MEDIA_URL }}css/twitter/js/jquery-1.7.1.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/jquery.validate.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/bootstrap.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/drop.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/drop.js"></script>

        <link href="{{ MEDIA_URL }}css/twitter/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/twitter/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/twitter/css/default.css" rel="stylesheet">
    </head>
    <body>

            <div class="navbar navbar-static">
              <div class="navbar-inner">
                <div class="container" style="width: auto;">
                  <a class="brand" href="#">CommSystem</a>
                  <ul class="nav" role="navigation">
                  <li><a href="/bem_vindo">Inicio</a></li>
                  <li><a href="/registrar">Cadastro de Funcionários</a></li>
                    <li class="dropdown">
                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Grupos <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li><a tabindex="-1" href="/criar_grupo">Criar Grupos</a></li>
                        <li><a tabindex="-1" href="/cadastrar_permissao_grupo">Adicionar Permissões</a></li>
                        <li><a tabindex="-1" href="/cadastrar_usuario_grupo">Adcionar Usuários</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Atividades<b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                        <li><a tabindex="-1" href="/atividade/">Criar nova Atividade</a></li>
                        <li class = "active"><a tabindex="-1" href="/lista_atividade"">Responder Atividade</a></li>
                      </ul>
                    </li>
                     <li><a href="/quant_atividade">Monitoramento de Funcionários</a></li>
                  </ul>
                  <ul class="nav pull-right">
                        <li><a tabindex="-1" href="/logout/">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div> 
          
<br>
          <div> 
             
                <h2><center>Responder Atividades</center></h2>
                <legend></legend>
                <legend> </legend>

		<center>	
			<form action="" method="post">
				{% csrf_token %}
	
			<h4><b> Seus grupos são: </b><i>{{groups}}</i></h4>
			<br>
			{{form.as_p}}
			<button class="btn btn-primary" type ="submit">Acessar</button>
		</form>

		</center>
                <legend></legend>
                <legend></legend>

		<center>
 	<table border = "1"/>
        <br><br>
        <thead>
        <th colspan = "10"/>

           {% for item in lista_itens %}
	<li>
		<h3>
		<tr>
		<th>
		 <h3><b><i><center><font color = "#00008B">Resumo das Atividades</b></center></h3></font></i>
		 <legend></legend>
		 <legend></legend>
		 <legend></legend>
			<h3><b><font color="#838B83">Título da atividade: </b></font><i>{{ item.titulo}}<br/></i></h3>
			<h3><b><font color="#8B7D7B">Descrição: </b></font><i> {{ item.descricao}}<br/></i></h3>
				<h3><b><font color="#8B7D7B"> Data de Início: </b></font><i>{{ item.dataInicial}}<br/></i></h3>
				<h3><b><font color="#8B7D7B"> Data Final: </b></font><i> {{ item.dataFinal}}<br/></i></h3>
		   <legend></legend>
          
		
		<div class="comentarios">
				 <legend></legend>
				<h3><b><font color="#8B864E">Respostas as Atividades </font><br/></b></h3>
				{% get_comment_list for item as comentarios %}
				{% for comentario in comentarios %}
				<div class="comentario">
					{% if comentario.name %}
						Nome: {{comentario.name}}<br/>
					{% else %} 
						<h1>Nenhuma resposta</h1>  <br/> 
					{% endif %}
					
					{% if comentario.url %}
						URL: {{comentario.url}}
					{% endif %}<br/>

					{{ comentario.comment|linebreaks}}
					<hr/>
				</div>
				{% endfor %}
			    <legend></legend>
				<h3>Enviar Resposta a Atividade</h3>
				{% render_comment_form for item %}				
		</div>
	</li>
	</form>

{% empty %}
Sem elementos na Lista, por favor insira o nome do seu grupo.

{% endfor %}
</center>

</ul>
</tr>
</th>

{% endblock %}
