         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="{{ MEDIA_URL }}css/twitter/css/bootstrap.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/twitter/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/twitter/css/default.css" rel="stylesheet">
    
    <div class="container">
      <div class="masthead">
        <div class="navbar">
            </div>
          </div>
      </div>

        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/bemVindo">Inicio</a></li>              
                    <li class="active"><a href="">Cadastro de Novos Funcionarios</a></li>
                      <li><a href="/logout/">Logout</a></li>    
                </ul>
            </div>
        </div>

      
<form id = "register_form" action="." method="POST" class = "form-horizontal">

{% csrf_token %}

	{{ form.as_p }}
	
	<legend></legend>
	<button type="submit" class="btn btn-primary">Criar novo usuário</button>
	<!--<tr><td colspan="2"><button type="submit">Criar</button> -->
	
</table>


</form>