        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="{{ MEDIA_URL }}css/twitter/css/bootstrap.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/twitter/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/twitter/css/default.css" rel="stylesheet">
        <script src="{{ MEDIA_URL }}css/twitter/js/jquery-1.7.1.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/jquery.validate.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/bootstrap.min.js"></script>
        <script src="{{ MEDIA_URL }}css/twitter/js/drop.min.js"></script>
    
      <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">CommSystem</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li ><a href="/bemVindo">Início</a></li>
              <li class ="active"><a href="">Cadastro de Funcionários</a></li>
              <li><a href="/tentativa">Cadastro de Grupos</a></li>
               <li><a href="/cadastrarUsuarioGrupo">Adicionar usuario ao grupo</a></li>
              <li><a href="/atividade/">Criar Atividade</a></li>
              <li><a href="/lista_atividade">Responder Atividades</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<br>
<br>
                <legend> </legend>
                <div> 
             
                      <h2><center>Cadastros de novos usuários</center></h2>
                <legend></legend>
                <legend> </legend>

              <center>
              <form method="POST">

{% csrf_token %}

      
                    <div class="control-group"> 
                    <div class="controls">
                    Nome <br/>
	                {{ form.username }}
	                {{ form.username.errors }}  
                     </div>  
                     </div>  
                      <div class="control-group"> 
                    <div class="controls">
                    Email <br/>
	                {{ form.email }}
	                {{ form.email.errors }} 
                     </div>  
                     </div> 
                        <div class="control-group"> 
                    <div class="controls">
                    Primeiro nome <br/>
	                {{ form.first_name }}
                     </div>  
                     </div> 
                    <div class="control-group"> 
                    <div class="controls">
                    Sobrenome <br/>
	                {{ form.last_name }}
	                {{ form.email.errors }} 
                     </div>  
                     </div> 
                     <div class = "control-group">
                     <div class="controls">
                     Digite sua senha <br>
	                 {{ form.password1 }}
	                 <br>
	                 </div>
	                 </div>
	                 <div class = "control-group">
                     <div class="controls">
	                 Digite novamente sua senha <br>
	                {{ form.password2 }}
	                 </div>
	                 </div>	
	<br>
	<button type="submit" class="btn btn-primary">Efetuar cadastro</button>
	</center>
	</div>
 <br>
 <div class="container">
      <hr>
      <footer>
        <p>&copy; CommSysytem - Jean Turet, Lucas Lins e Matheus Farias</p>
      </footer>
      </div>
</form>