/*
    Default
*/

label.valid {
    width: 24px;
    height: 24px;
    background: url(../img/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

#register_form2{
    width: 600px;
    padding: 20px 120px;
    margin: 10px auto 0 auto;
}