/*
    Default
*/

label.valid {
    width: 24px;
    height: 24px;
    background: url(../img/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

#register_form{
    width: 600px;
    padding: 40px 300px;
    margin: 10px auto 0 auto;
}

#register_form2{
	
	    width: 1000px;
	    padding: 20px 170px;
        margin: 20px auto 0 auto;
	
}

#register_form3{
    width: 600px;
    padding: 0px 554px;
    margin: 5px auto 0 auto;
}

#register_form4{
    width: 600px;
    padding: 0px 450px;
    margin: 5px auto 0 auto;
}