/* 
    Document   : test
    Created on : 01/04/2013, 19:27:42
    Author     : lucas
    Description:
        Purpose of the stylesheet follows.
*/

 body {
	background: #ddd;
	font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
}